/* CSS Document */
*{
	margin:0;
	padding:0;}
body{
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	color:#000;}
a{
	text-decoration:none;}
ul{
	list-style-type:none;}
.clear{
	clear:both;}

/*header*/
#header{
	background:#F1F1F1;
	height:30px;}
#head{
	width:1210px;
	margin:0 auto;
	line-height:30px;}
#head a{
	color:#666;
	font-size:12px;}
#head a:hover{
	color:#C81623;}
#head .red{
	color:#C81623;
	float:left;}
#head_left{
	float:left;}
#head_right{
	float:right;}
#head_right ul li{
	float:left;
	line-height:30px;
	height:30px;
	padding-left:12px;
	color:#DDD;}
#head_right ul li a{
	padding-right:12px;}
#head_right ul{
	float:left;}
#head_right ul li img{
	float:left;
	margin-top:4px;}
/*jd__gg*/
#jd_gg{
	height:80px;
	background:#FB3939;}
#jd_gg_con{
	width:1020px;
	margin:0 auto;}
/*search*/
#search{
	height:100px;}
#search_con{
	width:1210px;
	margin:0 auto;}
#search_left{
	margin-top:20px;
	float:left;}
#search_center{
	float:left;
	margin:25px 0 0 100px;}
#search_right{
	float:right;
	margin:23px 60px 0 0;}
#search_text{
	width:452px;
	height:32px;
	border:2px solid #B61D1D;
	float:left;}
#search_butt{
	width:82px;
	height:36px;
	background:#B61D1D;
	border:none;
	color:#FFF;
	font-weight:bold;
	font-size:17px;}
#search_center ul li{
	display:inline;
	font-size:12px;
	line-height:28px;}
#search_center ul li a{
	color:#666;}
#search_center ul li .s_red{
	color:#C81623;}
/*qbsp*/
#qbsp{
	height:44px;
	border-bottom:2px solid #B1191A;}
#qbsp_con{
	width:1210px;
	margin:0 auto;}
#qbsp_con h3{
	line-height:44px;
	width:200px;
	float:left;
	color:#FFF;
	font-size:14px;
	background:#B1191A;
	padding:0 0 0 10px;}
#qbsp_con ul{
	float:left;
	margin-left:15px;}
#qbsp_con ul li{
	display:inline;
	line-height:44px;
	padding-right:37px;}
#qbsp_con ul li a{
	color:#515151;
	font-size:16px;
	font-weight:500;
	font-family:"Microsoft YaHei UI";}
/*content*/
#content{
	height:466px;}
#content_con{
	width:1210px;
	margin:0 auto;}
#content_con_left{
	float:left;
	width:210px;
	height:466px;
	background:#CB1623;
	font-family:"Microsoft YaHei UI";}
#content_con_center{
	float:left;
	width:730px;
	height:454px;
	margin-left:10px;
	margin-top:12px;}
#content_con_right{
	float:right;
	height:454px;
	width:250px;
	margin-top:12px;}
	
	
.www51buycom { width: 730px; height: 454px; margin:0 auto; position: relative; overflow:hidden;
float:left;}

/*数字按钮样式*/
.www51buycom .num {  height: 28px; position: absolute; bottom:15px; left: 15px; zoom:1; z-index:3 }
.www51buycom .num li { width: 20px; height: 20px; line-height: 20px; text-align: center; font-weight: 400; font-family: "微软雅黑", Arial; color: #FFFFFF; background: #444444; margin-right: 10px; border-radius:50%; cursor:pointer; float: left; }
.www51buycom .num li.on { background: #FF7700; } /*当前项*/

/*上一个  下一个*/
.www51buycom .prev,
.www51buycom .next { display: none; width: 40px; height: 100px; background: url(../images/btn.png) no-repeat; position: absolute; top: 160px;}
.www51buycom .prev { left: 0; }
.www51buycom .next { right: 0; background-position: right }

#content_con_left ul{
	padding-left:10px;
	color:#FFF;}
#content_con_left ul li{
	line-height:31px;}
#content_con_left ul li a{
	color:#FFF;}
#content_con_left ul li span{
	float:right;
	margin-right:12px;}
#content_con_right_top{
	height:164px;
	border:1px solid #E4E4E4;
	border-bottom:none;}
#content_con_right_top h4{
	font-size:16px;
	color:#666;
	line-height:32px;
	border-bottom:1px dotted #E4E4E4;
	padding-left:15px;}
#content_con_right_top ul{
	padding:0 10px;
	line-height:25px;
	font-size:13px;}
#content_con_right_top ul b{
	margin-right:5px;}
#content_con_right_top ul li a{
	color:#666;}
#content_con_right_top h4 span{
	color:#000;
	font-size:12px;
	font-weight:100;
	float:right;}
#content_con_right_mi{
	height:210px;}
#content_con_right_mi table{
	border-collapse:collapse;
	width:250px;}
#content_con_right_mi table tr td{
	border:1px solid #E4E4E4;
	width:25%;}
#content_con_right_mi table tr td img{
	width:100%;
	height:69px;}
#content_con_right_bottom{
	height:72px;
	margin-top:5px;
	border:1px solid #E4E4E4;}
#content_con_right_bottom img{
	width:100%;
	height:72px;}
/*jrtj*/
#jrtj{
	height:164px;
	margin-top:10px;}
#jrtj_con{
	width:1210px;
	margin:0 auto;}
#jrtj_con_left{
	float:left;}
#jrtj_con_right{
	float:right;}
#jrtj_con_right ul li{
	float:left;
	margin-right:1px;}
/*cnxh*/
#cnxh{
	height:219px;
	margin-top:20px;}
#cnxh_con{
	width:1210px;
	margin:0 auto;}
#cnxh_con h3{
	font-family:"Microsoft YaHei UI";
	font-weight:100;
	font-size:18px;
	line-height:30px;}
#cnxh_con h3 img{
	position:relative;
	top:3px;}
#cnxh_con h3 span{
	float:right;
	font-size:12px;}
#cnxh_con ul{
	border:1px solid #999;
	padding-top:15px;
	margin-top:5px;}
#cnxh_con ul li{
	float:right;
	width:201px;}
#cnxh_con .cnxh_text{
	padding:0 33px;
	border-right:1px solid #CCC;
	margin-bottom:5px;}
#cnxh_con .cnxh_text_o{
	border-right:none;}
#cnxh_con ul li img{
	display:block;
	margin:0 auto;}
#cnxh_con ul li p{
	font-size:12px;
	line-height:25px;}
#cnxh_con ul li p a{
	color:#666;}
#cnxh_con ul li span{
	font-size:16px;
	font-weight:bold;
	color:#BB1D1A;
	line-height:32px;}
/*pzsh*/
#pzsh{
	height:443px;}
#pzsh_con{
	width:1210px;
	margin:0 auto;
	font-family:"Microsoft YaHei UI";}
#pzsh_con h3{
	line-height:38px;
	font-family:"Microsoft YaHei UI";
	font-weight:300;
	font-size:20px;}
#pzsh_con table{
	border-collapse:collapse;
	}
#pzsh_con table tr td{
	border:1px solid #999;
	vertical-align:top;}
#pzsh_con table tr td ul{
	float:left;
	margin-top:4px;}
#pzsh_con table tr td .pzsh_con_menu1{
	padding-left:14px;
	border-right:1px dashed #999;}
#pzsh_con table tr td .pzsh_con_menu2{
	padding-right:14px;}
#pzsh_con table tr td ul li{
	height:56px;
	border-bottom:1px dashed #999;}/*点划线*/
#pzsh_con table tr td .border_clear{
	border-bottom:none;}
#pzsh_con table tr td ul li img{
	width:70px;
	height:56px;}
#pzsh_con table tr td h4{
	line-height:40px;
	border-bottom:1px dashed #999;
	text-align:center;
	margin:0 20px;/*点划线窄一点*/
	font-size:15px;}
#pzsh_con table tr td .pzsh_con_img1{
	background:url(../images/5739ad34Nfbb689be.jpg);
	height:205px;
	border-bottom:1px solid #999;
	padding-left:10px;
	overflow:hidden;}/*溢出隐藏，margin不带着父元素一起走，子元素自己挪。超出盒子的部分隐藏*/
#pzsh_con table tr td .pzsh_con_img1 h5{
	margin-top:60px;
	font-size:16px;
	line-height:35px;}
#pzsh_con table tr td .pzsh_con_img1 p{
	font-size:12px;
	line-height:20px;}
#pzsh_con table tr td .pzsh_con_img1 span{
	font-size:12px;
	color:#CE303C;}
#pzsh_con table tr td .pzsh_con_img2{
	background:url(../images/5739ba97N52cd4805.jpg);
	height:158px;}
#pzsh_con table tr td .pzsh_con_img3{
	background:url(../images/572aa444Ne1d99217.jpg);
	height:205px;
	border-bottom:1px solid #999;}
#pzsh_con table tr td .pzsh_con_img4{
	height:158px;}
#pzsh_con table tr td .pzsh_con_img4 .pzsh_con_img5{
	background:url(../images/57394587N3ac08057.jpg);
	width:203px;
	height:158px;
	float:left;
	border-right:1px solid #999;}
#pzsh_con table tr td .pzsh_con_img4 .pzsh_con_img6{
	background:url(../images/571f3c98Nd2e8f720.jpg);
	width:203px;
	height:158px;
	float:left;}
#pzsh_con .pzsh_title{
	background:#E7E7E7;}
/*jd_gg2*/
#jd_gg2{
	width:1210px;
	margin:0 auto;
	height:125px;}
#jd_gg2 img{
	float:left;
	margin-top:70px;}
/**/
.jd_goods{
	margin-top:10px;
	font-family:"Microsoft YaHei UI";}
.jd_goods_con{
	width:1210px;
	margin:0 auto;}
.jd_goods_con_head{
	border-bottom:1px solid #C81623;}
.jd_goods_con_head h3{
	font-size:18px;
	font-weight:300;
	float:left;
	line-height:30px;}
.jd_goods_con_head img{
	margin-right:5px;}
.jd_goods_con_head ul{
	float:right;
	height:35px;
	line-height:35px;
	border:1px solid #EDEDED;
	border-bottom:none;}
.jd_goods_con_head ul li{
	float:left;}
.jd_goods_con_head ul li a{
	padding:0 16px;
	color:#666;
	border-left:1px solid #EDEDED;}
.jd_goods_con_head .goods_one{
	border-left:1px solid #c81632;
	border-right:1px solid #c81632;
	border-top:3px solid #c81632;
	height:32px;
	line-height:31px;}
.jd_goods_con_head .goods_one a{
	display:block;
	height:33px;
	background:#FFF;
	color:#C816328;}
.jd_goods_con .jd_goods_con_menu{}
.jd_goods_con .jd_goods_con_menu1{
	width:330px;
	height:633px;
	float:left;}
.jd_goods_con .jd_goods_con_menu1 .jd_goods_con_menu1_top_v{
	height:475px;
	position:relative;}
.jd_goods_con .jd_goods_con_menu1 .jd_goods_con_menu1_top_v1{
	background:#FFF;
	line-height:45px;
	position:absolute;
	bottom:133px;
	background:rgba(255,255,255,0.5) none repeat scroll 0 0 !important;}/*半透明*/
.jd_goods_con .jd_goods_con_menu1 .jd_goods_con_menu1_top_v1 ul li{
	float:left;
	padding:0 20px;
	margin-left:4px;}
.jd_goods_con .jd_goods_con_menu1 .jd_goods_con_menu1_top_v1 img{
	position:relative;
	top:8px;}
.jd_goods_con .jd_goods_con_menu1 .jd_goods_con_menu1_top_v1 ul li a{
	color:#666;}
.jd_goods_con_menu1_top_v2{
	width:330px;
	height:133px;
	background:#EBEDFE;
	position:absolute;
	bottom:0px;}
.jd_goods_con .jd_goods_con_menu1 .jd_goods_con_menu1_top_v2 table{
	position:absolute;
	bottom:14px;
	left:20px;
	font-size:12px;
	font-family:"宋体";
	padding:0 0px;}
.jd_goods_con .jd_goods_con_menu1 .jd_goods_con_menu1_top_v2 tr{
	width:165px;}
.jd_goods_con .jd_goods_con_menu1 .jd_goods_con_menu1_top_v2 tr td{
	line-height:25px;
	width:135px;}
.jd_goods_con .jd_goods_con_menu1 .jd_goods_con_menu1_top_v2 tr td a{
	color:#999;}
.jd_goods_con .jd_goods_con_menu1 .jd_goods_con_menu1_top_v2 tr td a span{
	color:#C81623;}
.jd_goods_con .jd_goods_con_menu1 .jd_goods_con_menu1_top_v3{}
.jd_goods_con .jd_goods_con_menu2{
	width:439px;
	height:633px;
	float:left;}
.jd_goods_con .jd_goods_con_menu2 .jd_goods_con_menu2_img,.jd_goods_con_menu3_img,.jd_goods_con_menu4_img{
	border-bottom:1px solid #EDEDED;
	border-right:1px solid #EDEDED;}
.jd_goods_con .jd_goods_con_menu3{
	width:219px;
	height:633px;
	float:left;}
.jd_goods_con .jd_goods_con_menu4{
	width:219px;
	height:633px;
	float:left;}

.jd_goods_con_brand tr td{
	width:121px;
	height:59px;
	background:#F7F7F7;}
.jd_goods_con_brand tr td img{
	padding-right:10px;
	border-right:1px dashed #CCC;
	}
.jd_goods_con_brand tr td #border_none{
	border-right:none;}
	
	
	
/*F2*/
.jd_goods_con .jd_goods_con_2menu1 .jd_goods_con_2menu1_top_2v1{
	width:210px;
	height:92px;
	background:#FBE2F9;
	line-height:20px;
}
.jd_goods_con .jd_goods_con_2menu1 .jd_goods_con_2menu1_top_v{
	float:left;}
.jd_goods_con .jd_goods_con_2menu1 .jd_goods_con_2menu1_top_2v1_1{
	float:left;}
.jd_goods_con .jd_goods_con_2menu1 .jd_goods_con_2menu1_top_2v1_1 li img{
	padding-left:10px;
	position:relative;
	top:8px;}
.jd_goods_con .jd_goods_con_2menu1 .jd_goods_con_2menu1_top_2v1_2 li img{
	padding-left:10px;
	position:relative;
	top:8px;}
.jd_goods_con .jd_goods_con_2menu1 .jd_goods_con_2menu1_top_2v1_1 li a{
	line-height:45px;
	color:#333;}
.jd_goods_con .jd_goods_con_2menu1 .jd_goods_con_2menu1_top_2v1_2 li a{
	line-height:45px;
	padding-right:15px;
	color:#333;}
.jd_goods_con .jd_goods_con_2menu1 .jd_goods_con_2menu1_top_2v1_2{
	float:right;}
.jd_goods_con .jd_goods_con_2menu1 .jd_goods_con_2menu1_top_2v2{
	width:210px;
	height:146px;
	background:#FCEDFB;}
.jd_goods_con .jd_goods_con_2menu1 .jd_goods_con_2menu1_top_2v2 ul li a{
	color:#666;}
.jd_goods_con .jd_goods_con_2menu1 .jd_goods_con_2menu1_top_2v2 ul li{
	height:30px;}
.jd_goods_con .jd_goods_con_2menu1 .jd_goods_con_2menu1_top_2v2 ul{
	padding-top:25px;
	padding-left:30px;
	float:left;}
.jd_goods_con .jd_goods_con_2menu1 .jd_goods_con_2menu1_top_2v2 table{
	margin-left:18px;
	margin-top:-3px;
	float:left;}
.jd_goods_con .jd_goods_con_2menu1 .jd_goods_con_2menu1_top_2v2 tr td{
	width:55px;
	height:25px;
	text-align:center;}
.jd_goods_con .jd_goods_con_2menu1 .jd_goods_con_2menu1_top_2v2 tr td a{
	color:#999;
	font-size:13px;}
.jd_goods_con .jd_goods_con_2menu1 .jd_goods_con_2menu1_top_2v2 tr td span{
	color:#C81623;}
.jd_goods_con .jd_goods_con_2menu .jd_goods_con_2menu2{
	float:left;
	width:339px;}
.jd_goods_con .jd_goods_con_2menu .jd_goods_con_2menu2 img{
	border-bottom:1px solid #EDEDED;
	border-right:1px solid #EDEDED;}
.jd_goods_con .jd_goods_con_2menu .jd_goods_con_2menu3{
	float:left;
	width:220px;}
.jd_goods_con .jd_goods_con_2menu .jd_goods_con_2menu3 img{
	border-bottom:1px solid #EDEDED;
	border-right:1px solid #EDEDED;}
.jd_goods_con .jd_goods_con_2menu .jd_goods_con_2menu4{
	float:left;
	width:220px;}
.jd_goods_con .jd_goods_con_2menu .jd_goods_con_2menu4 img{
	border-bottom:1px solid #EDEDED;
	border-right:1px solid #EDEDED;}
.jd_goods_con .jd_goods_con_2menu .jd_goods_con_2menu5{
	float:left;
	width:220px;}
.jd_goods_con .jd_goods_con_2menu .jd_goods_con_2menu5 img{
	border-bottom:1px solid #EDEDED;
	border-right:1px solid #EDEDED;}
.jd_goods_con #jd_gg3{
	margin-left:5px;}
.jd_goods_con #jd_gg3 img{
	float:left;}
	
	
	
/*F3*/
.jd_goods_con .jd_goods_con_3menu1 .jd_goods_con_3menu1_top_2v1{
	width:330px;
	height:46px;
	background:#D5EBE8;}
.jd_goods_con .jd_goods_con_3menu1{
	float:left;}
.jd_goods_con .jd_goods_con_3menu1 .jd_goods_con_3menu1_top_2v1 ul li{
	float:left;
	padding-left:30px;
	padding-top:3px;}
.jd_goods_con .jd_goods_con_3menu1 .jd_goods_con_3menu1_top_2v1 ul li a{
	color:#666;}
.jd_goods_con .jd_goods_con_3menu1 .jd_goods_con_3menu1_top_2v1 img{
	position:relative;
	top:8px;}
.jd_goods_con .jd_goods_con_3menu .jd_goods_con_3menu1_top_2v2{
	width:330px;
	height:190px;
	background:#E5F3F1;
	position:absolute;}
.jd_goods_con .jd_goods_con_3menu .jd_goods_con_3menu1_top_2v2_1{
	position:relative;
	left:20px;
	top:20px;}
.jd_goods_con .jd_goods_con_3menu .jd_goods_con_3menu1_top_2v2_1 a{
	color:#666;}
.jd_goods_con .jd_goods_con_3menu .jd_goods_con_3menu1_top_2v2_2{
	position:relative;
	left:20px;
	top:25px;}
.jd_goods_con .jd_goods_con_3menu .jd_goods_con_3menu1_top_2v2_2 a{
	color:#666;
	font-size:13px;}
.jd_goods_con .jd_goods_con_3menu .jd_goods_con_3menu1_top_2v2_2 tr td span{
	color:#c81623;}
.jd_goods_con .jd_goods_con_3menu .jd_goods_con_3menu2{
	float:left;
	width:440px;}
.jd_goods_con .jd_goods_con_3menu .jd_goods_con_3menu2 img{
	float:left;
	border-bottom:1px solid #EDEDED;
	border-right:1px solid #EDEDED;}
.jd_goods_con .jd_goods_con_3menu .jd_goods_con_3menu3{
	width:219px;
	float:left;}
.jd_goods_con .jd_goods_con_3menu .jd_goods_con_3menu3 img{
	float:left;
	border-bottom:1px solid #EDEDED;
	border-right:1px solid #EDEDED;}
.jd_goods_con .jd_goods_con_3menu .jd_goods_con_3menu4{
	width:219px;
	float:left;}
.jd_goods_con .jd_goods_con_3menu .jd_goods_con_3menu4 img{
	float:left;
	border-bottom:1px solid #EDEDED;}
.jd_goods_con .jd_goods_con_3menu .jd_goods_con_3menu4{
	width:208px;
	float:left;}
.jd_goods_con .jd_goods_con_3menu .jd_goods_con_3menu3 img{
	float:left;
	border-bottom:1px solid #EDEDED;
	border-right:1px solid #EDEDED;}
	
	
/*F4*/
.jd_goods_con .jd_goods_con_4menu1{
	float:left;}
.jd_goods_con .jd_goods_con_4menu1 .jd_goods_con_4menu1_top_2v1{
	width:330px;
	height:46px;
	background:#D7EBEC;}
.jd_goods_con .jd_goods_con_4menu1 .jd_goods_con_4menu1_top_2v1 ul li{
	float:left;
	padding-left:45px;
	padding-top:3px;}
.jd_goods_con .jd_goods_con_4menu1 .jd_goods_con_4menu1_top_2v1 img{
	position:relative;
	top:8px;}
.jd_goods_con .jd_goods_con_4menu1 .jd_goods_con_4menu1_top_2v1 ul li a{
	color:#666;}
.jd_goods_con .jd_goods_con_4menu .jd_goods_con_4menu1_top_2v2{
	width:330px;
	height:190px;
	background:#E5F3F1;
	position:absolute;}
.jd_goods_con .jd_goods_con_4menu .jd_goods_con_4menu1_top_2v2_1{
	position:relative;
	left:20px;
	top:20px;}
.jd_goods_con .jd_goods_con_4menu .jd_goods_con_4menu1_top_2v2_1 a{
	color:#666;}
.jd_goods_con .jd_goods_con_4menu .jd_goods_con_4menu1_top_2v2{
	width:330px;
	height:190px;
	background:#E5F3F1;
	position:absolute;}
.jd_goods_con .jd_goods_con_4menu .jd_goods_con_4menu1_top_2v2_1{
	position:relative;
	left:20px;
	top:20px;}
.jd_goods_con .jd_goods_con_4menu .jd_goods_con_4menu1_top_2v2_1 a{
	color:#666;}
.jd_goods_con .jd_goods_con_4menu .jd_goods_con_4menu1_top_2v2_2{
	position:relative;
	left:20px;
	top:25px;}
.jd_goods_con .jd_goods_con_4menu .jd_goods_con_4menu1_top_2v2_2 a{
	color:#666;
	font-size:13px;}
.jd_goods_con .jd_goods_con_4menu .jd_goods_con_4menu1_top_2v2_2 tr td span{
	color:#C81623;}
.jd_goods_con .jd_goods_con_4menu .jd_goods_con_4menu2{
	float:left;
	width:440px;}
.jd_goods_con .jd_goods_con_4menu .jd_goods_con_4menu2 img{
	float:left;
	border-bottom:1px solid #EDEDED;
	border-right:1px solid #EDEDED;}
.jd_goods_con .jd_goods_con_4menu .jd_goods_con_4menu3{
	float:left;
	width:219px;}
.jd_goods_con .jd_goods_con_4menu .jd_goods_con_4menu3 img{
	float:left;
	border-bottom:1px solid #EDEDED;
	border-right:1px solid #EDEDED;}
.jd_goods_con .jd_goods_con_4menu .jd_goods_con_4menu4{
	float:left;
	width:219px;}
.jd_goods_con .jd_goods_con_4menu .jd_goods_con_4menu4 img{
	float:left;
	border-bottom:1px solid #EDEDED;
	border-right:1px solid #EDEDED;}
	
	
/*F5*/
.jd_goods_con .jd_goods_con_5menu1{
	float:left;}
.jd_goods_con .jd_goods_con_5menu1 .jd_goods_con_5menu1_top_2v1{
	width:330px;
	height:46px;
	background:#F2F0E4;}
.jd_goods_con .jd_goods_con_5menu1 .jd_goods_con_5menu1_top_2v1 ul li{
	float:left;
	padding-left:45px;
	padding-top:3px;}
.jd_goods_con .jd_goods_con_5menu1 .jd_goods_con_5menu1_top_2v1 img{
	position:relative;
	top:8px;}
.jd_goods_con .jd_goods_con_5menu1 .jd_goods_con_5menu1_top_2v1 ul li a{
	color:#666;}
.jd_goods_con .jd_goods_con_5menu .jd_goods_con_5menu1_top_2v2{
	width:330px;
	height:190px;
	background:#F7F6EE;
	position:absolute;}
.jd_goods_con .jd_goods_con_5menu .jd_goods_con_5menu1_top_2v2_1{
	position:relative;
	left:20px;
	top:20px;}
.jd_goods_con .jd_goods_con_5menu .jd_goods_con_5menu1_top_2v2_1 a{
	color:#666;}
.jd_goods_con .jd_goods_con_5menu .jd_goods_con_5menu1_top_2v2{
	width:330px;
	height:190px;
	background:#F7F6EE;
	position:absolute;}
.jd_goods_con .jd_goods_con_5menu .jd_goods_con_5menu1_top_2v2_1{
	position:relative;
	left:20px;
	top:20px;}
.jd_goods_con .jd_goods_con_5menu .jd_goods_con_5menu1_top_2v2_1 a{
	color:#666;}
.jd_goods_con .jd_goods_con_5menu .jd_goods_con_5menu1_top_2v2_2{
	position:relative;
	left:20px;
	top:25px;}
.jd_goods_con .jd_goods_con_5menu .jd_goods_con_5menu1_top_2v2_2 a{
	color:#666;
	font-size:13px;}
.jd_goods_con .jd_goods_con_5menu .jd_goods_con_5menu1_top_2v2_2 tr td span{
	color:#C81623;}
.jd_goods_con .jd_goods_con_5menu .jd_goods_con_5menu2{
	float:left;
	width:440px;}
.jd_goods_con .jd_goods_con_5menu .jd_goods_con_5menu2 img{
	float:left;
	border-bottom:1px solid #EDEDED;
	border-right:1px solid #EDEDED;}
.jd_goods_con .jd_goods_con_5menu .jd_goods_con_5menu3{
	float:left;
	width:219px;}
.jd_goods_con .jd_goods_con_5menu .jd_goods_con_5menu3 img{
	float:left;
	border-bottom:1px solid #EDEDED;
	border-right:1px solid #EDEDED;}
.jd_goods_con .jd_goods_con_5menu .jd_goods_con_5menu4{
	float:left;
	width:219px;}
.jd_goods_con .jd_goods_con_5menu .jd_goods_con_5menu4 img{
	float:left;
	border-bottom:1px solid #EDEDED;
	border-right:1px solid #EDEDED;}
	
	
/*F6*/
.jd_goods_con .jd_goods_con_6menu1{
	float:left;}
.jd_goods_con .jd_goods_con_6menu1 .jd_goods_con_6menu1_top_2v1{
	width:330px;
	height:46px;
	background:#F2F0E4;}
.jd_goods_con .jd_goods_con_6menu1 .jd_goods_con_6menu1_top_2v1 ul li{
	float:left;
	padding-left:45px;
	padding-top:3px;}
.jd_goods_con .jd_goods_con_6menu1 .jd_goods_con_6menu1_top_2v1 img{
	position:relative;
	top:8px;}
.jd_goods_con .jd_goods_con_6menu1 .jd_goods_con_6menu1_top_2v1 ul li a{
	color:#666;}
.jd_goods_con .jd_goods_con_6menu .jd_goods_con_6menu1_top_2v2{
	width:330px;
	height:190px;
	background:#F7F6EE;
	position:absolute;}
.jd_goods_con .jd_goods_con_6menu .jd_goods_con_6menu1_top_2v2_1{
	position:relative;
	left:20px;
	top:20px;}
.jd_goods_con .jd_goods_con_6menu .jd_goods_con_6menu1_top_2v2_1 a{
	color:#666;}
.jd_goods_con .jd_goods_con_6menu .jd_goods_con_6menu1_top_2v2{
	width:330px;
	height:190px;
	background:#F7F6EE;
	position:absolute;}
.jd_goods_con .jd_goods_con_6menu .jd_goods_con_6menu1_top_2v2_1{
	position:relative;
	left:20px;
	top:20px;}
.jd_goods_con .jd_goods_con_6menu .jd_goods_con_6menu1_top_2v2_1 a{
	color:#666;}
.jd_goods_con .jd_goods_con_6menu .jd_goods_con_6menu1_top_2v2_2{
	position:relative;
	left:20px;
	top:25px;}
.jd_goods_con .jd_goods_con_6menu .jd_goods_con_6menu1_top_2v2_2 a{
	color:#666;
	font-size:13px;}
.jd_goods_con .jd_goods_con_6menu .jd_goods_con_6menu1_top_2v2_2 tr td span{
	color:#C81623;}
.jd_goods_con .jd_goods_con_6menu .jd_goods_con_6menu2{
	float:left;
	width:440px;}
.jd_goods_con .jd_goods_con_6menu .jd_goods_con_6menu2 img{
	float:left;
	border-bottom:1px solid #EDEDED;
	border-right:1px solid #EDEDED;}
.jd_goods_con .jd_goods_con_6menu .jd_goods_con_6menu3{
	float:left;
	width:219px;}
.jd_goods_con .jd_goods_con_6menu .jd_goods_con_6menu3 img{
	float:left;
	border-bottom:1px solid #EDEDED;
	border-right:1px solid #EDEDED;}
.jd_goods_con .jd_goods_con_6menu .jd_goods_con_6menu4{
	float:left;
	width:219px;}
.jd_goods_con .jd_goods_con_6menu .jd_goods_con_6menu4 img{
	float:left;
	border-bottom:1px solid #EDEDED;
	border-right:1px solid #EDEDED;}